*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    max-width: 1400px;
    margin-top: 10px;
}
nav{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
ul{
    display: flex;
    align-items: center;
}
nav h1 span{
    color: red;
}
nav ul li{
    list-style-type: none;
    margin-left: 20px;
    padding: 5px;
}
.btn-primary{
    padding: 10px 20px;
    background-color: brown;
    color: white;
}
.hero-section{
    width: 100%;
    max-width: 1400px;
    height: 400px;
    color: white;
    text-align: center;
    background-image: url(images/donation1.jpg), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    padding-top: 200px;
}
.hero-section button{
    margin-top: 10px;
}
    
    
.hero-section h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 79px;
}
.donate-text{
    text-align: center;
    padding-top: 100px;
    margin-bottom: 50px;
}
.donate-amount{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.donate-amount h3{
    padding-left: 20px;
}
.amount2{
    width: 80px;
    height: 20px;
    background-color: #FFEEEE;
    color: red;
    padding: 20px 0;
    
}
.amount{
    width: 80px;
    height: 20px;
    background-color: #FAFAFA;
    padding: 20px 0;
    
}
.donate p, h2{
    text-align: center;
}
.donate-plan p{
    text-align: center;
}
.card-parant{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    height: 400px;
    margin: 0 auto;
}
.card{
    width: 320px;
    height: 250px;
    background-color: rgba(79, 157, 166, 0.1);
    margin: 50px auto;
    padding-top: 10px;
}
.card img{
    padding: 20px 0 10px 150px;
}
.card h3{
    text-align: center;
}
.card p{
    padding: 10px;
    text-align: center;
}
.donate-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    height: 250px;
    margin: 0 auto;
}
.side-text{
    width: 100%;
    max-width:400px;
    height: 100%;
    padding-top: 10px;
}
.side-img img{
    width: 400px;
    height: 100%;
}
.blank{
    width: 100%;
    max-width: 800px;
    height: 200px;
    text-align: center;
    background-color: #FFF4D6;
    margin: 0 auto;
}
input{
    padding: 10px 20px;
}
.input-email{
    padding-top: 80px;
}
footer{
    width: 100%;
    max-width: 1400px;
    height: 177px;
    background-color: #0B0D17;
    text-align: center;
}
footer h2{
    text-align: center;
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #FF5959;
    padding-top: 50px;
}
footer p{
    text-align: center;
    color: #FFF4D6;
}
/* Responsive code */
@media only screen and (max-width:576px){
    .card-parant{
        flex-direction: column;
        padding-bottom: 250px;
    }
    .donate-img{
        flex-direction:column;
        padding-top: 100px;
    }
    .donate-amount{
        flex-direction: column;
    }
    .donate-plan{
        text-align: justify;
        padding-bottom: 220px;
    }
    .updates{
        padding-top: 100px;
    }
}

